@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import './config';
@import './cart';
@import './products';

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

// ---------NAV SECTION START ------

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3rem;
  background-color: $color-navy;
  @include girdLayout(50px);
  z-index: 1;

  &__sidebar-btn {
    height: 100%;
    padding: 0 1rem;
    @include flexbox(flex-start, row);

    & .btn {
      @include buttonStyle(transparent);

      & .fa-futbol {
        font-size: $btnSize;
        color: #4b6670;
      }
    }
  }

  &__logo {
    @include flexbox(center, row);
    padding: 0 10px;

    & .logo {
      width: 100px;
      object-fit: contain;
    }
  }

  &__cart {
    height: 100%;
    padding: 0 1rem;
    @include flexbox(flex-end, row);

    & .btn {
      position: relative;
      @include buttonStyle(transparent);

      & .fa-cart-arrow-down {
        font-size: $btnSize;
        color: #4b6670;
      }

      & .amount {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 17px;
        height: 17px;
        background-color: #4e6092;
        border-radius: 5px;
        color: $color-navy;
        font-weight: bold;
        @include flexbox(center, row);
      }
    }
  }
}

@include media-md {
  .nav {
    height: 3.7rem;

    &__sidebar-btn {
      padding: 0 7rem;

      & .btn .fa-futbol {
        font-size: 2rem;
      }
    }

    &__logo {
      padding: 0 20px;

      & .logo {
        width: 170px;
      }
    }

    &__cart {
      padding: 0 7rem;

      & .btn .fa-cart-arrow-down {
        font-size: 2rem;
      }

      & .btn .amount {
        top: -13px;
        right: -15px;
        width: 23px;
        height: 23px;
      }
    }
  }
}

// --------------NAV SECTION END -----------------

// --------------HERO SECTION START -----------------

.hero {
  width: 100vw;
  height: 100vh;

  &__img {
    width: 100%;
    height: 100%;
    @include flexbox(center, column);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .shop--kits {
      position: absolute;
      width: 80%;
      height: 30%;
      background-color: rgba(255, 255, 255, 0.5);
      @include flexbox(space-around, column);

      & h1 {
        font-size: 1.3rem;
        color: $color-navy;
      }

      & button {
        padding: 0.7rem 1.7rem;
        @include buttonStyle($color-navy);
        font-size: 1rem;
        color: $color-gray;
        border-radius: 5px;

        &:hover {
          background-color: transparent;
          border: 1px solid $color-navy;
          color: $color-navy;
        }
      }
    }
  }
}

@include media-md {
  .hero {
    &__img {
      & .shop--kits {
        width: 60%;
        height: 40%;

        & h1 {
          font-size: 4rem;
        }

        & button {
          padding: 1.2rem 4rem;
          font-size: 1rem;
        }
      }
    }
  }
}
// --------------HERO SECTION END -----------------
